* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

form 
{
    display: flex;
    flex-direction: column;
    width: 400px;
    background: rgb(188, 211, 240);
}

header
{
    background: #23252a;
    padding: 10px;
    margin-bottom: 5px;
}

a
{
    color: #4c4bb3;
    font-weight: bold;
    text-decoration: none;
}

input 
{
    margin: 10px 20px;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button
{
    padding: 12px;
    margin: 10px 20px; 
    background: teal;
    border: unset;
    cursor: pointer;
    font-weight: bold;
}

h1, h2
{
    text-align: center;
    color: whitesmoke;
}

p 
{
    text-align: center;
    margin: 10px;
}

label
{
    margin-left: 20px;
    font-weight: bold;
}

.msg
{
    border: 2px solid #be5b52;
    border-radius: 5px;
    margin: 4px 20px;
    padding: 5px 0;
}